body {
    font-family: roboto, sans-serif;
}

.header, .hero, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}