body {
    font-family: roboto, sans-serif;
    margin: 0;
}

.header, .hero, .info, .quote, .bottom, .footer {
    padding: 0 200px;
}

.header, .hero, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    padding: 50px 200px;
    display: flex;
    gap: 15px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 5px 0;
}

.button {
    background-color: #3882F6;
    display: inline-block;
    border-radius: 10px;
    padding: 7px 30px;
}

.image {
    border: dotted;
    width: 575px;
    height: 200px;
}

h2 {
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937
}

.quote {
    background-color: #E5E7EB;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quoter {
    font-weight: bold;
}

.banner {
    color: #F9FAF8;
    background-color: #3882F6;
}