body {
    font-family: roboto, sans-serif;
    margin: 0;
}

.header, .hero, .bottom, .footer {
    padding: 0 200px;
}

.info, .quote {
    padding: 0 250px;
}

.header, .hero, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    padding: 50px 200px;
    display: flex;
    gap: 15px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 5px 0;
}

.button {
    background-color: #3882F6;
    display: inline-block;
    border-radius: 10px;
    padding: 7px 30px;
}

.image {
    border: dotted;
    width: 575px;
    height: 200px;
}

.info {
    text-align: center;
    padding-bottom: 100px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-img {
    border: solid blue;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

h2 {
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937
}

.quote {
    background-color: #E5E7EB;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}

.quoter {
    font-weight: bold;
}

.banner {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 7px;
    padding: 40px 60px;
    display: flex;
    align-items: center;
    margin: 80px 0;
    gap: 120px;
}

.white-border {
    border: solid white;
}

.left h3, .left p {
    margin: 0;
}

/* Footer */

.footer {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}